In [1]:
import csv
import pandas as pd

In [11]:
df = pd.DataFrame.from_csv('train_full.csv')

/Users/dpeskov/anaconda3/envs/ASR/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  if __name__ == '__main__':

In [9]:
df.describe()

       teacher_number_of_previously_posted_projects
count                                  78035.000000
mean                                      11.275082
std                                       27.981717
min                                        0.000000
25%                                        0.000000
50%                                        2.000000
75%                                        9.000000
max                                      448.000000

In [12]:
df.columns

Index(['teacher_id', 'teacher_prefix', 'school_state',
       'project_submitted_datetime', 'project_grade_category',
       'project_subject_categories', 'project_subject_subcategories',
       'project_title', 'project_essay_1', 'project_essay_2',
       'project_essay_3', 'project_essay_4', 'project_resource_summary',
       'teacher_number_of_previously_posted_projects', 'project_is_approved'],
      dtype='object')

In [13]:
newformat = df[df['project_essay_3'].isnull()]
relevant_new = newformat[['project_title', 'project_resource_summary', 'project_essay_1', 'project_essay_2', 'project_is_approved']]
relevant_new = relevant_new.replace({r'\\r': '', r'\\n': '', r'\\"': ''}, regex=True)
relevant_new = relevant_new.apply(lambda x: x.astype(str).str.lower())

train = relevant_new[:55000]
val = relevant_new [55000:100000]
dev = relevant_new [100000:150000]

#smaller_data.to_csv('new_data_partial.csv')
#relevant_new.head()

In [15]:
no_values = relevant_new.loc[df['project_is_approved'] == 0]
yes_values = relevant_new.loc[df['project_is_approved'] == 1]
yes_values_sample = yes_values.sample(no_values.shape[0])

train = no_values[:15000]
train = train.append(yes_values_sample[:15000])

val = no_values[15000:20000]
val = val.append(yes_values_sample[15000:20000])

dev = no_values[20000:]
dev = dev.append(yes_values_sample[20000:])

train.to_csv('train.csv')
val.to_csv('val.csv')
dev.to_csv('dev.csv')

In [99]:
oldformat = df[df['project_essay_3'].notnull()]
relevant_old = oldformat[['project_title', 'project_essay_1', 'project_essay_2', 'project_essay_3', 'project_essay_4', 'project_is_approved']]
relevant_old = relevant_old.replace({r'\\r': '', r'\\n': '', r'\\"': ''}, regex=True)
relevant_old = relevant_old.apply(lambda x: x.astype(str).str.lower())
relevant_old.to_csv('old_data.csv')
relevant_old.head()

,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_is_approved
id,,,,,,
p232007,watch readers grow!,during our reading workshop students are at da...,my students lack confidence. i have a class wi...,during our reading workshop. we do mini lesson...,your donations would greatly be a blessing for...,1
p164867,reader's workshop exploration club!!!,we are at a school that has been trained by th...,the students i have now are english language l...,we will be using the books to integrate our re...,your generous donation for this class will giv...,1
p141508,world history biographies varied by lexile,my classroom is filled three times a day by en...,"90% of my students are multi-lingual, usually ...","with the books i've selected, my students will...","with these new books, students will be able to...",1
p229044,a sensory rich classroom,do you remember sitting in a crowded classroom...,i am the lucky teacher of 6th-8th graders who ...,i envision a classroom where all of my student...,i strive to create a classroom where i can tak...,1
p193494,magic in making music,my class loves to spend time every day singing...,our class is full of energy and excitement. t...,students will use instruments to express thems...,this will give students a chance to express th...,1

In [91]:
#relevant

In [92]:
a['project_essay_1'].head()

id
p036502    Most of my kindergarten students come from low...
p039565    Our elementary school is a culturally rich sch...
p233823    Hello;My name is Mrs. Brotherton. I teach 5th ...
p185307    My students are the greatest students but are ...
p013780    My students are athletes and students who are ...
Name: project_essay_1, dtype: object